.header {
    grid-area: h;
    background-color: black;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    opacity: 90%;
}

.header img {
    width: 50px;
}
