.dialogs{
    display: grid;
    grid-template-columns: 2fr 10fr;
}
.dialogs_items{
    padding: 10px;
}
.dialogs_items .active{
    color: blue;
}
.messages{
    padding: 10px;
}
.dialogImg{
    width: 20px;
    height: 20px;
}
.dialog a{
    text-decoration: none;
}